/*!
 * Layout
 * 
 * @version 1.0.0 2018/01/01 00:00
 * @author Jean <Jean@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */
/* -----------------------------------------
   Common styles
----------------------------------------- */
.wrapper {
  overflow: hidden; }

.left-width {
  width: 225px; }
  .max-md-size .page-header .left-width {
    width: inherit; }

.a-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

/* -----------------------------------------
   Common-nav styles
----------------------------------------- */
.nav-tabs {
  border-bottom: 1px solid rgba(33, 33, 33, 0.1); }
  .nav-tabs .nav-link {
    color: inherit; }
    .nav-tabs .nav-link.active {
      color: #e7505a; }

/* -----------------------------------------
   Common-font styles
----------------------------------------- */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: normal; }

/* -----------------------------------------
   Common-html styles
----------------------------------------- */
.html {
  line-height: 1.8rem;
  text-align: justify; }
  .html h1,
  .html .h1,
  .html h2,
  .html .h2,
  .html h3,
  .html .h3,
  .html h4,
  .html .h4,
  .html h5,
  .html .h5,
  .html h6,
  .html .h6 {
    color: #000;
    line-height: 2.5rem;
    font-weight: normal; }
    @media (max-width: 1199.98px) {
      .html h1,
      .html .h1,
      .html h2,
      .html .h2,
      .html h3,
      .html .h3,
      .html h4,
      .html .h4,
      .html h5,
      .html .h5,
      .html h6,
      .html .h6 {
        line-height: 2rem; } }
  .html img {
    max-width: 100%;
    height: auto; }
  .html a {
    color: inherit; }
  .html br {
    line-height: 1.5rem; }
    @media (max-width: 991.98px) {
      .html br {
        line-height: 1rem; } }

/* -----------------------------------------
   Common-img styles
----------------------------------------- */
.image-container {
  display: inline-block; }

.thumb {
  background-color: #fff;
  padding: 3px;
  border: 1px solid #dee2e6;
  display: inline-block;
  font-size: 0; }
  @media (max-width: 991.98px) {
    .thumb {
      padding: 1px; } }
  .thumb span {
    width: 80px;
    height: 60px;
    display: inline-block; }
    @media (max-width: 991.98px) {
      .thumb span {
        width: 40px;
        height: 30px; } }

.thumb-sm span {
  width: 35px !important;
  height: 35px !important; }

.thumb-80 .thumb span {
  width: 80px;
  height: 80px; }
  @media (max-width: 991.98px) {
    .thumb-80 .thumb span {
      width: 50px;
      height: 50px; } }

/* -----------------------------------------
   Common-table styles
----------------------------------------- */
.table thead th {
  white-space: nowrap; }

.table td .thumb span {
  width: 80px;
  height: 60px; }
  @media (max-width: 991.98px) {
    .table td .thumb span {
      width: 40px;
      height: 30px; } }

.talbe-sort .form-control {
  width: 47px;
  font-size: 11px;
  margin-right: 5px; }

@media (max-width: 1199.98px) {
  .table-search-input {
    width: 100px !important; } }

@media (max-width: 767.98px) {
  .table-search-input {
    width: 100% !important; } }

#fileContent .table-search-input {
  width: 100px !important; }

#fileContent .file-nav {
  display: none; }

/* -----------------------------------------
   Common-ui styles
----------------------------------------- */
@media (max-width: 575.98px) {
  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; } }

.btn i {
  line-height: 1.5; }

.btn-lg i {
  line-height: 1.5; }

.min-w-select {
  min-width: 110px; }

.badge-num {
  width: 22px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  font-weight: normal; }

.accordion-hover-btn {
  position: relative; }

.autoHeight {
  min-height: 38px !important; }

/* -----------------------------------------
   Common-from styles
----------------------------------------- */
.form-btn-group .btn {
  min-width: 150px; }
  @media (max-width: 767.98px) {
    .form-btn-group .btn {
      min-width: inherit; } }

.file-img .card {
  width: 108px;
  border: 0;
  margin-right: 5px; }
  .file-img .card a {
    background-color: #fff;
    padding: 3px;
    border: 1px solid #dee2e6;
    display: inline-block;
    text-align: center; }
    .file-img .card a span {
      width: 100px;
      height: 100px;
      display: inline-block; }
      @media (max-width: 991.98px) {
        .file-img .card a span {
          width: 100px;
          height: 100px; } }
      .file-img .card a span i {
        font-size: 80px; }
  .file-img .card .card-title {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    padding: 0px 3px;
    height: 40px; }
  .file-img .card .card-body {
    padding: 0; }
  .file-img .card .custom-control {
    margin: 0;
    position: absolute;
    top: 0px;
    right: -2px; }

.file-img .file-icon a i {
  color: #ccc; }

.file-img .file-folder a i {
  color: #F7CA18;
  font-size: 100px; }

.file-img-list .card {
  width: 138px;
  border: 0;
  margin-right: 5px; }
  .file-img-list .card .thumb {
    margin-bottom: 5px; }
    .file-img-list .card .thumb span {
      width: 130px;
      height: 130px; }
  .file-img-list .card .card-title {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    padding: 0px 3px;
    height: 40px; }
  .file-img-list .card .card-body {
    padding: 0; }
  .file-img-list .card .custom-control {
    margin: 0;
    position: absolute;
    top: 0px;
    right: -2px; }
  .file-img-list .card .btn-group-sm > .btn {
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
    line-height: 1; }
  .file-img-list .card .btn-group .btn {
    line-height: 0.95rem; }

.inbox-img-list .card {
  width: 138px;
  border: 0;
  margin-right: 5px; }
  .inbox-img-list .card .thumb {
    margin-bottom: 5px; }
    .inbox-img-list .card .thumb span {
      width: 130px;
      height: 130px; }
  .inbox-img-list .card .card-title {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    padding: 0px 3px;
    height: 40px; }
  .inbox-img-list .card .card-body {
    padding: 0; }
  .inbox-img-list .card .custom-control {
    margin: 0;
    position: absolute;
    top: 0px;
    right: -2px; }
  .inbox-img-list .card .btn-group-sm > .btn {
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
    line-height: 1; }
  .inbox-img-list .card .btn-group .btn {
    line-height: 0.95rem; }

.jcrop-wp {
  position: relative; }
  .jcrop-wp .jcrop-mark {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3); }
  .jcrop-wp img {
    z-index: 2; }
  .jcrop-wp .jcrop-holder {
    z-index: 1; }

/* -----------------------------------------
   Common-timeline styles
----------------------------------------- */
.timeline {
  margin: 0 0 30px;
  padding: 0;
  position: relative; }
  .timeline:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f6fa;
    top: 20px;
    bottom: 0;
    margin-left: 38px; }
  .timeline .timeline-badge {
    margin-top: 20px; }
  .timeline .icon-c {
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border: 4px solid #f5f6fa;
    background-color: #fff;
    padding: 5px; }
  .timeline .timeline-body.talk {
    padding: 20px;
    background-color: #f5f6fa;
    border-radius: 4px; }
    .timeline .timeline-body.talk:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 20px;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f5f6fa transparent transparent; }

/* -----------------------------------------
   Default styles
----------------------------------------- */
a,
button {
  outline: none; }

/* -----------------------------------------
   Default-size styles
----------------------------------------- */
.container-xl {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-lg {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-md {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-sm {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.h-10-c {
  height: calc(10% - 20px); }

.h-20-c {
  height: calc(20% - 20px); }

.h-30-c {
  height: calc(30% - 20px); }

.h-35-c {
  height: calc(35% - 20px); }

.h-40-c {
  height: calc(40% - 20px); }

.h-45-c {
  height: calc(45% - 20px); }

.h-50-c {
  height: calc(50% - 20px); }

.h-55-c {
  height: calc(55% - 20px); }

.h-60-c {
  height: calc(60% - 20px); }

.h-70-c {
  height: calc(70% - 20px); }

.h-80-c {
  height: calc(80% - 20px); }

.h-90-c {
  height: calc(90% - 20px); }

.h-100-c {
  height: calc(100% - 20px); }

.h-space-20 {
  display: block;
  height: 0;
  margin-bottom: 20px; }

/* -----------------------------------------
   Default-font styles
----------------------------------------- */
.text-break-all {
  word-break: break-all; }

.text-break-word {
  word-break: break-word; }

.text-pre-line {
  white-space: pre-line !important; }

.no-focus {
  border-color: inherit !important;
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important; }

.t-d-none {
  text-decoration: none; }
  .t-d-none:hover {
    text-decoration: none; }

/* -----------------------------------------
   Default-img styles
----------------------------------------- */
.imgFill {
  display: block;
  height: 100%;
  width: 100%; }

.thumb {
  display: inline-block; }

/* -----------------------------------------
   Default-place styles
----------------------------------------- */
.o-h {
  overflow: hidden; }

.border-box {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }

.center {
  position: absolute;
  left: 50%;
  top: 70%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.noscroll {
  overflow: hidden;
  height: 100vh; }

/* -----------------------------------------
   Default-ui styles
----------------------------------------- */
.line-b {
  border-bottom: 1px solid #e1e5ec; }

.i-o {
  opacity: 0.3; }

/* -----------------------------------------
   Layouts-footer styles
----------------------------------------- */
.page-footer {
  margin-left: 225px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #e7505a;
  text-transform: capitalize; }
  .slide-nav-close .page-footer {
    margin-left: 44px; }
    @media (max-width: 1199.98px) {
      .slide-nav-close .page-footer {
        margin-left: 0; } }
  .page-footer a {
    color: #fff;
    margin-left: 5px;
    text-transform: uppercase; }

/* -----------------------------------------
   Layouts-header styles
----------------------------------------- */
.page-header {
  z-index: 1030;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 50px;
  background-color: #fff; }
  @media (max-width: 1199.98px) {
    .page-header {
      text-align: center; } }
  .page-header a {
    text-decoration: none; }
    .page-header a:hover {
      text-decoration: none; }
  .page-header .top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1031;
    padding-right: 30px; }
  .page-header .navbar-brand {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .page-header .navbar-brand a {
      text-decoration: none;
      color: #212529; }
    .page-header .navbar-brand img {
      height: auto;
      max-width: 250px;
      max-height: 35px;
      -webkit-filter: none;
      filter: none; }
    .page-header .navbar-brand span {
      font-family: 'Poppins', sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      visibility: visible;
      vertical-align: middle;
      letter-spacing: 0px;
      opacity: 1; }
    .slide-nav-close .page-header .navbar-brand .span {
      visibility: hidden;
      opacity: 0; }
      @media (max-width: 1199.98px) {
        .slide-nav-close .page-header .navbar-brand .span {
          visibility: visible;
          opacity: 1; } }
  .page-header .toggle-left-nav-btn {
    opacity: .6;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    height: 50px;
    cursor: pointer; }
    @media (max-width: 1199.98px) {
      .page-header .toggle-left-nav-btn {
        left: 1px;
        position: absolute;
        top: 0; } }
    .page-header .toggle-left-nav-btn:hover {
      opacity: 1; }
    .page-header .toggle-left-nav-btn .line, .page-header .toggle-left-nav-btn .line:before, .page-header .toggle-left-nav-btn .line:after {
      display: inline-block;
      width: 19px;
      height: 2px;
      background: #868e96;
      position: relative;
      top: -6px;
      -webkit-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s;
      outline: 0 !important; }
    .page-header .toggle-left-nav-btn .line:before, .page-header .toggle-left-nav-btn .line:after {
      position: absolute;
      left: 0;
      content: ''; }
    .page-header .toggle-left-nav-btn .line:before {
      top: 6px; }
    .page-header .toggle-left-nav-btn .line:after {
      top: -6px; }
  .page-header .dropdown {
    position: relative; }
    .page-header .dropdown .btn {
      color: #868e96 !important; }
    .page-header .dropdown .dropdown-toggle::after {
      display: none; }
    .page-header .dropdown .dropdown-menu {
      -webkit-box-shadow: 0 0 20px 0 rgba(33, 33, 33, 0.2);
      box-shadow: 0 0 20px 0 rgba(33, 33, 33, 0.2);
      left: auto;
      right: -20px;
      min-width: 175px;
      margin-top: 5px;
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0px solid transparent; }
      .page-header .dropdown .dropdown-menu a {
        display: block;
        border-bottom: 1px solid #f0eff5;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 40px;
        white-space: nowrap; }
        .page-header .dropdown .dropdown-menu a.active {
          color: #fff;
          background-color: #e7505a; }
        .page-header .dropdown .dropdown-menu a span,
        .page-header .dropdown .dropdown-menu a i {
          vertical-align: middle; }
    .page-header .dropdown.profile a i {
      margin-right: 10px;
      line-height: 36px;
      height: 36px;
      width: auto;
      text-align: center;
      font-size: 14px; }
    .page-header .dropdown.globe a i {
      padding: 0;
      background-color: inherit;
      border: 1px solid white;
      /*border-radius: 0;*/
      width: 20px;
      height: 17px;
      display: inline-block;
      background-position: center center;
      background-size: 100% auto;
      margin-right: 10px; }

/* -----------------------------------------
   Layouts-sidebar styles
----------------------------------------- */
.navigation-header {
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 40px;
  padding-left: 12px;
  margin: 10px 0 0px 0;
  color: #e7505a;
  text-transform: uppercase; }
  .navigation-header i {
    display: none; }
  .slide-nav-close .navigation-header span {
    display: none; }
  .slide-nav-close .navigation-header i {
    display: inline-block; }

.fixed-sidebar-left {
  position: fixed;
  top: 50px;
  left: 0;
  margin-left: 0;
  bottom: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.2);
  background-color: #fff;
  border-right: 1px solid #eceeef;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden; }
  .fixed-sidebar-left hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .fixed-sidebar-left a {
    text-decoration: none; }
    .fixed-sidebar-left a:hover {
      text-decoration: none; }
  .slide-nav-close .fixed-sidebar-left {
    width: 44px; }
    @media (max-width: 1199.98px) {
      .slide-nav-close .fixed-sidebar-left {
        width: 225px;
        margin-left: -225px; } }

.side-nav {
  padding-bottom: 45px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .side-nav > li {
    width: 225px; }
    .side-nav > li > a[aria-expanded="true"] {
      background-color: rgba(33, 33, 33, 0.05); }
    .side-nav > li > a.active {
      background-color: #e7505a;
      color: #fff; }
  .side-nav li a {
    display: block;
    position: relative;
    height: auto;
    color: #424242;
    text-decoration: none;
    clear: both;
    white-space: nowrap;
    padding: 7px 15px 7px 10px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .side-nav li a .float-left > i {
      font-size: 18px;
      width: 18px;
      display: inline-block;
      margin-right: 20px; }
    .side-nav li a .float-right i::before {
      position: absolute;
      right: 20px;
      top: 45%;
      width: .58em;
      -webkit-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
      -webkit-transform: rotate(90deg) translate(0, -50%);
      -ms-transform: rotate(90deg) translate(0, -50%);
      transform: rotate(90deg) translate(0, -50%);
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }
    .side-nav li a[aria-expanded="true"] .float-right i::before {
      -webkit-transform: rotate(0deg) translate(0, -50%);
      -ms-transform: rotate(0deg) translate(0, -50%);
      transform: rotate(0deg) translate(0, -50%);
      top: 47%; }
  .side-nav .collapse-level-1 {
    list-style: none;
    position: relative;
    padding-left: 37px;
    font-size: 0.9rem;
    background-color: none; }
    .side-nav .collapse-level-1:before {
      border-left: 1px dashed rgba(0, 0, 0, 0.2);
      bottom: 1.2rem;
      content: "";
      left: 18px;
      margin-left: -1px;
      position: absolute;
      top: 0;
      z-index: 2; }
    .side-nav .collapse-level-1 > li > a {
      padding: 5px 15px 5px 10px;
      position: relative;
      color: #878787;
      font-weight: normal; }
      .side-nav .collapse-level-1 > li > a[aria-expanded="true"] {
        color: #000; }
      .side-nav .collapse-level-1 > li > a.active {
        color: #e7505a; }
      .side-nav .collapse-level-1 > li > a:before {
        border-top: 1px dashed rgba(0, 0, 0, 0.2);
        content: "";
        left: -18px;
        margin-left: -1px;
        position: absolute;
        top: 50%;
        width: 1.2rem;
        z-index: 2; }

/* -----------------------------------------
   Layouts-main styles
----------------------------------------- */
.page-content {
  margin-left: 225px;
  padding: 50px 0px 0 0px;
  background: #f0f4f5;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow-x: hidden; }
  @media (max-width: 1199.98px) {
    .page-content {
      left: 225px;
      margin-left: 0; } }
  .slide-nav-close .page-content {
    margin-left: 44px; }
    @media (max-width: 1199.98px) {
      .slide-nav-close .page-content {
        left: 0;
        margin-left: 0; } }
  .page-content .content-body {
    padding: 15px 15px 0 15px; }
    @media (max-width: 1199.98px) {
      .page-content .content-body {
        padding: 15px 0 0 0; } }
  .page-content .content-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 1px 3px rgba(55, 55, 55, 0.1);
    box-shadow: 0 1px 3px rgba(55, 55, 55, 0.1); }
    @media (max-width: 767.98px) {
      .page-content .content-header {
        display: none; } }
    .page-content .content-header h1 {
      margin: 0; }
      .page-content .content-header h1 i {
        color: rgba(55, 55, 55, 0.5);
        margin-right: 15px; }
      @media (max-width: 1199.98px) {
        .page-content .content-header h1 {
          font-size: 15px; } }
    .page-content .content-header .breadcrumb {
      font-size: 13px; }

.breadcrumb {
  border: 0;
  font-weight: 600;
  margin: 0; }
  .breadcrumb a {
    color: #212529;
    display: inline-block;
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none !important; }
    .breadcrumb a:hover {
      opacity: 1; }
  .breadcrumb > .breadcrumb-item + .breadcrumb-item::before {
    color: #212529;
    opacity: .5;
    font-family: 'icomoon';
    content: "\e939";
    padding: 1px 9px;
    float: left; }

.panel {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(33, 33, 33, 0.2);
  box-shadow: 0px 0px 7px 0px rgba(33, 33, 33, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden; }
  .panel.panel-default > .panel-heading {
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6; }
  .panel.panel-default .panel-body {
    padding: 35px 20px 20px 20px; }
    @media (max-width: 991.98px) {
      .panel.panel-default .panel-body {
        padding: 15px; } }
  .panel .panel-heading {
    background-color: #ffffff;
    position: relative;
    padding: 15px 20px 10px 20px;
    margin: 0; }
    .panel .panel-heading h1, .panel .panel-heading h2 {
      margin-top: 3px; }
    .panel .panel-heading::after {
      display: block;
      clear: both;
      content: ""; }
  .panel .panel-body {
    background-color: #ffffff;
    border: 0px solid #e8e8e8;
    border-top: 0px;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms; }
    .panel .panel-body::after {
      display: block;
      clear: both;
      content: ""; }
  .panel .panel-title,
  .panel .legend {
    line-height: 24px;
    text-transform: capitalize;
    font-weight: bolder;
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    padding-bottom: 5px;
    margin-bottom: 20px; }

.panel-body > .panel-title {
  margin-top: 2.5rem; }

.panel-body > .panel-title:first-child {
  margin-top: 0; }

.login {
  background-color: #fff; }

.user-login {
  min-height: 100vh; }
  .user-login .login-bg {
    height: 100vh;
    overflow: hidden; }
  .user-login .login-logo {
    position: absolute;
    top: 2.5em;
    width: 100%; }
    .user-login .login-logo span {
      font-family: 'Poppins', sans-serif;
      font-size: 35px;
      text-transform: uppercase;
      visibility: visible;
      vertical-align: middle;
      letter-spacing: 0px;
      opacity: 1;
      font-weight: 500; }
    @media (max-width: 1199.98px) {
      .user-login .login-logo {
        top: 15px;
        text-align: center; } }
  .user-login .login-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden; }
    .user-login .login-container .login-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 10px; }
      .user-login .login-container .login-footer .login-copyright {
        margin-top: 6px; }
        .user-login .login-container .login-footer .login-copyright p {
          margin: 0;
          font-size: 13px;
          color: #a9b5be; }
    .user-login .login-container > .login-content {
      margin-top: 30%; }
      @media (max-width: 1199.98px) {
        .user-login .login-container > .login-content {
          margin-top: 20%; } }
      @media (max-width: 767.98px) {
        .user-login .login-container > .login-content {
          margin-top: 25%; } }
      .user-login .login-container > .login-content h1 {
        font-size: 40px;
        font-weight: 500;
        color: #000;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px; }
        @media (max-width: 1199.98px) {
          .user-login .login-container > .login-content h1 {
            text-align: center; } }
        @media (max-width: 991.98px) {
          .user-login .login-container > .login-content h1 {
            font-size: 25px;
            text-align: center; } }
      .user-login .login-container > .login-content p {
        color: #a0a9b4;
        font-size: 15px;
        line-height: 22px; }
        @media (max-width: 1199.98px) {
          .user-login .login-container > .login-content p {
            font-size: 13px; } }
      .user-login .login-container > .login-content .login-form {
        margin-top: 80px;
        color: #a4aab2;
        font-size: 13px; }
        .user-login .login-container > .login-content .login-form .form-control {
          width: 100%;
          padding: 10px 0;
          border: #a0a9b4;
          border-bottom: 1px solid;
          color: #868e97;
          font-size: 14px;
          border-radius: 0 !important; }
          .user-login .login-container > .login-content .login-form .form-control:focus {
            outline: 0; }
        .user-login .login-container > .login-content .login-form .forgot-password,
        .user-login .login-container > .login-content .login-form .login-button {
          display: inline-block; }
        .user-login .login-container > .login-content .login-form .rem-password {
          margin-top: 10px; }
          .user-login .login-container > .login-content .login-form .rem-password > p {
            margin: 0; }
        .user-login .login-container > .login-content .login-form .rem-password > .rem-checkbox {
          border-color: #a4aab2; }
        .user-login .login-container > .login-content .login-form .forgot-password {
          margin-right: 1em;
          line-height: 2.5rem; }
          .user-login .login-container > .login-content .login-form .forgot-password > a {
            color: #a4aab2; }
            .user-login .login-container > .login-content .login-form .forgot-password > a:hover {
              color: #337ab7;
              text-decoration: none; }
            .user-login .login-container > .login-content .login-form .forgot-password > a:focus {
              color: #a4aab2;
              text-decoration: none; }

.user-login .login-logo,
.user-login .login-container .login-copyright,
.user-login .login-container > .login-content {
  padding: 0 80px; }
  @media (max-width: 1599.98px) {
    .user-login .login-logo,
    .user-login .login-container .login-copyright,
    .user-login .login-container > .login-content {
      padding: 0 40px; } }
  @media (max-width: 767.98px) {
    .user-login .login-logo,
    .user-login .login-container .login-copyright,
    .user-login .login-container > .login-content {
      padding: 0 20px; } }

@media (max-width: 992px) {
  .user-login,
  .user-login .login-bg,
  .user-login .login-container {
    min-height: 50vh; }
  .user-login .login-container > .login-content .login-form {
    margin-top: 20px; }
  .user-login .login-container .rem-password {
    margin-bottom: 1em; }
  .user-login .login-container > .login-footer {
    position: relative;
    margin-top: 40px;
    padding-bottom: 0; }
  .user-login .alert {
    margin-top: -20px; } }

@media (max-width: 640px) {
  .user-login .login-container > .login-content .text-right {
    text-align: left; } }

.captcha {
  position: relative; }
  .captcha img {
    position: absolute;
    top: 100%;
    left: 0; }
    @media (max-width: 991.98px) {
      .captcha img {
        top: 5px;
        left: inherit;
        right: 45px; } }
  .captcha button {
    position: absolute;
    top: 95%;
    right: 0px; }
    @media (max-width: 991.98px) {
      .captcha button {
        top: 5px; } }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.login {
  background-color: #fff; }

.user-login2 {
  min-height: 100vh;
  position: relative;
  padding-top: 8%; }
  .user-login2 div.is-invalid {
    font-size: 12px;
    color: red;
    position: absolute;
    top: 3px;
    line-height: 2rem;
    left: 20px; }
  .user-login2 .login-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  .user-login2 .login-logo span {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    visibility: visible;
    vertical-align: middle;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 500; }
  .max-lg-size .user-login2 .login-logo {
    top: 15px; }
  .user-login2 .login-container {
    position: relative;
    z-index: 2;
    min-height: 430px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    background-color: rgba(5, 2, 2, 0.6); }
  .user-login2 .login-footer {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    z-index: 3;
    text-align: center;
    margin-top: 45px; }
    .user-login2 .login-footer .login-copyright {
      margin-top: 6px; }
      .user-login2 .login-footer .login-copyright p {
        margin: 0;
        font-size: 13px;
        color: #a9b5be; }
  .user-login2 .welcome-panl {
    color: #ffffff;
    padding: 10%;
    line-height: 2rem; }
  .user-login2 .login-content {
    background-color: #fff;
    border-radius: 5px;
    margin: -20px  0 -20px 30px;
    -webkit-box-shadow: 0px 0px 50px rgba(87, 49, 23, 0.5);
    box-shadow: 0px 0px 50px rgba(87, 49, 23, 0.5);
    padding: 35px 50px 35px 50px;
    width: 510px;
    display: inline-block; }
    .user-login2 .login-content .form-group {
      border-bottom: 1px solid #e1e5ec;
      padding-bottom: 10px; }
      .user-login2 .login-content .form-group i {
        opacity: 0.3; }
      .user-login2 .login-content .form-group .col-form-label {
        color: #a1a1a1; }

@media (max-width: 1199.98px) {
  .user-login2 .welcome-panl {
    padding: 10% 3%; }
  .user-login2 .container {
    max-width: 95%; }
  .user-login2 .login-content {
    margin-left: 15px;
    width: 450px;
    margin: -20px  0 -20px 0; } }

@media (max-width: 991.98px) {
  .user-login2 .login-content {
    width: 100%;
    margin: 0;
    padding: 35px 30px; }
  .user-login2 .login-footer {
    margin-top: 25px; } }

@media (max-width: 767.98px) {
  .user-login2 .login-container {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    background-color: rgba(5, 2, 2, 0); } }

/* -----------------------------------------
   Page [index]
----------------------------------------- */
#analyticsAll {
  width: 100%;
  height: 400px;
  color: #67b7dc; }

.profile-userpic {
  display: inline-block; }
  .profile-userpic span {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 0; }

/* -----------------------------------------
   Page-template
----------------------------------------- */
.template .bd-example-row, .template .highlight {
  display: none; }

.btn-code {
  position: fixed;
  top: 10px;
  right: 105px;
  z-index: 9999999; }
